@reference "../../../styles/index.css";

.aboutSectionContainer {
  @apply flex 
  flex-col 
  gap-7 
  md:gap-12;
}

.aboutSectionMain {
  @apply flex 
  flex-col 
  gap-4 
  md:mb-12 
  md:flex-row-reverse;
}

.aboutSectionTextCol {
  @apply flex 
  max-w-[60ch] 
  flex-col 
  md:flex-1 
  md:flex-shrink-1 
  md:flex-grow-4;
}

.aboutSectionImageCol {
  @apply h-72 
  w-full 
  md:flex-1 
  md:flex-shrink-1 
  md:flex-grow-2;
}

.aboutSectionSubHeader {
  @apply font-oswald 
  text-dark-gray-50 
  mb-5 
  text-2xl 
  md:mb-7 
  md:text-3xl 
  dark:text-white;
}

.aboutSectionSkills {
  @apply flex 
  flex-col 
  gap-4;
}

.aboutSectionSkillsGrid {
  @apply grid 
  grid-cols-2 
  gap-3 
  sm:grid-cols-3 
  md:grid-cols-4 
  lg:grid-cols-5;
}

.aboutSectionSkillCard {
  @apply dark:bg-dark-gray-800
  bg-light-gray-100 
  flex 
  items-center 
  gap-4 
  rounded-xl 
  p-2;
}

.aboutSectionSkillIcon {
  @apply flex 
  items-center 
  justify-center 
  rounded-lg 
  p-2 
  text-black 
  dark:text-white;
}

.aboutSectionSkillName {
  @apply text-medium-gray-50
  dark:text-light-gray-950;
}
