@reference "../../../../styles/index.css";

.cubesContainer {
  @apply flex 
  h-72
  w-full
  items-center
  justify-center 
  gap-16 
  py-12
  opacity-60
  md:h-fit
  md:flex-1
  md:flex-shrink-1
  md:flex-grow-2
  md:flex-col
  md:gap-24
  md:px-14;
}
