@layer base {
  * {
    @apply outline-accent 
    subpixel-antialiased
    outline-0 
    duration-300
    motion-safe:transition-colors;
  }

  *:focus-visible {
    @apply outline-accent 
    outline-offset-1 
    outline-dashed
    motion-safe:transition-[outline-width];
  }

  html {
    @apply [--content-padding-x:0] 
    [--header-height:3.5rem]
    md:[--header-height:4.5rem] 
    lg:[--header-height:5rem]
    xl:[--content-padding-x:10.5rem];
  }

  body {
    @apply font-lexend 
    dark:bg-dark-gray-500 
    dark:text-medium-gray-50 
    text-pale-gray-50 
    bg-white 
    motion-safe:scroll-smooth;
  }

  button,
  a,
  [role="button"] {
    &:not(:disabled) {
      @apply cursor-pointer;
    }
  }
}
