* {
  @apply subpixel-antialiased;
}

html,
body {
  @apply h-full;
}

body {
  @apply font-lexend 
  dark:bg-dark-gray-950 
  bg-white 
  text-black 
  motion-safe:scroll-smooth 
  dark:text-white;
}
