@reference "../../../styles/index.css";

.sheetContent {
  @apply dark:bg-dark-gray-950
  bg-light-gray-50
  fixed 
  z-50 
  flex 
  flex-col 
  gap-4 
  shadow-lg/80 
  transition 
  ease-in-out;

  &[data-state="open"] {
    @apply animate-in 
    duration-500;
  }

  &[data-state="closed"] {
    @apply animate-out 
    duration-300;
  }

  &.right {
    @apply inset-y-0 
    right-0 
    h-full 
    w-3/4 
    sm:max-w-sm;

    &[data-state="open"] {
      @apply slide-in-from-right;
    }

    &[data-state="closed"] {
      @apply slide-out-to-right;
    }
  }

  &.left {
    @apply inset-y-0 
    left-0 
    h-full 
    w-3/4 
    sm:max-w-sm;

    &[data-state="open"] {
      @apply slide-in-from-left;
    }

    &[data-state="closed"] {
      @apply slide-out-to-left;
    }
  }

  &.top {
    @apply inset-x-0 
    top-0
    h-auto;

    &[data-state="open"] {
      @apply slide-in-from-top;
    }

    &[data-state="closed"] {
      @apply slide-out-to-top;
    }
  }

  &.bottom {
    @apply inset-x-0 
    bottom-0 
    h-auto;

    &[data-state="open"] {
      @apply slide-in-from-bottom;
    }

    &[data-state="closed"] {
      @apply slide-out-to-bottom;
    }
  }
}

.sheetFooter {
  @apply dark:bg-dark-gray-900 
  dark:border-dark-gray-500 
  border-light-gray-400 
  bg-light-gray-100
  sticky 
  right-0 
  bottom-0 
  left-0 
  z-10 
  mt-auto
  flex 
  flex-col 
  gap-2 
  border-t
  p-6
  shadow-md
  backdrop-blur-md;
}

.sheetOverlay {
  @apply fixed 
  inset-0 
  z-50 
  bg-black/50
  transition-[backdrop-filter,-webkit-backdrop-filter] duration-300;

  &[data-state="open"] {
    @apply animate-in fade-in-0 backdrop-blur-xs;
  }

  &[data-state="closed"] {
    @apply animate-out fade-out-0 backdrop-blur-none;
  }
}
