.button {
  @apply group;

  & > *:not(.sr-only) {
    @apply relative 
    duration-300 
    motion-safe:transition-all;
  }

  &.up {
    @apply bottom-0 
    group-hover:bottom-1;
  }

  &.bottom {
    @apply top-0 
    group-hover:top-1;
  }

  &.left {
    @apply right-0 
    group-hover:right-1;
  }

  &.right {
    @apply left-0 
    group-hover:left-1;
  }

  &.primary {
    @apply text-dark-gray-950 
    dark:text-light-gray-50;
  }

  &.secondary {
    @apply text-shadow-dark-gray-50 
    dark:text-light-gray-950;
  }

  &.accent {
    @apply text-accent;
  }

  &.accentHover {
    @apply group-hover:text-accent;
  }
}
