@reference "../../../styles/index.css";

.dropdownMenuContent {
  @apply font-oswald
  dark:bg-dark-gray-950
  dark:text-medium-gray-50
  text-pale-gray-500 
  dark:border-dark-gray-500
  border-light-gray-400 
  z-50 
  max-h-(--radix-dropdown-menu-content-available-height) 
  min-w-[8.5rem] 
  origin-(--radix-dropdown-menu-content-transform-origin) 
  overflow-x-hidden 
  overflow-y-auto 
  rounded-md 
  border
  bg-white 
  p-2;
}

.dropdownMenuItem {
  @apply dark:focus:bg-dark-gray-800 
  dark:focus:text-accent
  focus:bg-light-gray-100
  focus:text-accent
  relative 
  flex 
  cursor-pointer 
  items-center 
  gap-2 
  rounded-sm 
  px-2 
  py-1.5 
  outline-hidden 
  select-none 
  focus:!outline-none 
  data-[disabled]:pointer-events-none 
  data-[disabled]:opacity-50 
  data-[inset]:pl-8 
  [&_svg]:pointer-events-none 
  [&_svg]:shrink-0 
  [&_svg:not([class*='size-'])]:size-4;
}
