@reference "../../../../styles/index.css";

.timelineRoot {
  @apply flex 
  flex-col;
}

.timelineItem {
  @apply relative 
  pb-15 
  last:pb-0;
}

.timelineItemLine {
  @apply border-light-gray-900 
  dark:border-medium-gray-500 
  absolute 
  top-6 
  left-1 
  h-full 
  w-0.5 
  border 
  border-r-0 
  border-l 
  border-dashed;
}

.timelineItemPing {
  @apply relative 
  top-6 
  -left-0.25 
  flex 
  size-3;
}

.timelineItemPingPulse {
  @apply bg-light-gray-900 
  dark:bg-medium-gray-500
  theme-transition
  absolute 
  inline-flex 
  h-full 
  w-full 
  animate-ping 
  rounded-full 
  opacity-75;
}

.timelineItemPingDot {
  @apply bg-light-gray-900 
  dark:bg-medium-gray-500 
  theme-transition
  relative 
  inline-flex 
  size-3 
  rounded-full;
}

.timelineItemContentRow {
  @apply mt-[0.375rem] 
  ml-6 
  flex 
  justify-between 
  gap-x-10 
  max-md:flex-col 
  md:ml-10;
}

.timelineItemDateCol {
  @apply flex 
  shrink-0 
  flex-col 
  gap-2 
  max-md:hidden 
  md:w-[15.625rem];
}

.timelineItemDate {
  @apply font-oswald 
  mb-3 
  text-lg 
  font-semibold 
  md:text-xl;
}

.timelineItemMainCol {
  @apply flex 
  flex-col 
  gap-7;
}

.timelineItemHeader {
  @apply flex 
  flex-wrap-reverse 
  items-end 
  gap-5 
  max-md:justify-between 
  md:flex-row-reverse 
  md:items-center 
  md:justify-end;
}

.timelineItemTitleGroup {
  @apply flex 
  min-w-[11.25rem] 
  flex-col md:gap-1;
}

.timelineItemTitle {
  @apply font-oswald 
  text-dark-gray-50 
  theme-transition 
  text-2xl 
  font-black 
  max-md:mb-1
  md:text-3xl
  dark:text-white;
}

.timelineItemDateMobile {
  @apply font-oswald 
  text-lg 
  font-semibold 
  md:hidden 
  md:text-xl;
}

.timelineItemCompany {
  @apply font-oswald 
  text-lg 
  font-black 
  md:text-xl;
}

.timelineItemLogoWrapper {
  @apply bg-dark-gray-500 
  size-fit 
  rounded-xl 
  p-3 
  md:p-4;
}

.timelineItemLogo {
  @apply size-10 
  fill-white 
  md:size-10;
}

.timelineItemDescriptions {
  @apply flex 
  max-w-3xl 
  flex-col 
  gap-2 
  md:gap-3;
}

.timelineItemDescription {
  @apply flex 
  items-start 
  gap-2;
}

.timelineItemBulletIcon {
  @apply stroke-accent 
  size-5 
  flex-shrink-0 
  pt-1 
  sm:size-6;
}
