@reference "../../../styles/index.css";

.verticalLines {
  @apply flex 
  h-full
  w-full 
  justify-between 
  px-32
  sm:px-16;

  .lineContainer {
    @apply relative h-full;
    width: 1px; /* Maintain line width */
  }

  .line {
    @apply dark:bg-medium-gray-700 
    bg-light-gray-950 
    /* 
    Fill  */ container h-full w-full
    opacity-10;
  }

  .gizmo {
    @apply dark:bg-dark-gray-700 bg-light-gray-300 absolute left-1/2 -translate-x-1/2  
    -translate-y-1/2 
    transform;
    width: 5px;
    height: 20px;
    border-radius: 2px;
    transition: top 1s ease;
    z-index: 10; /* Ensure visibility above lines */
  }
}
