@reference "../../../styles/index.css";

.verticalLines {
  @apply flex 
  h-full
  w-full 
  justify-between 
  px-8
  sm:px-12
  md:px-16;

  .lineContainer {
    @apply relative 
    h-full 
    w-[0.0625rem];
  }

  .line {
    @apply dark:bg-medium-gray-700 
    bg-light-gray-950 
    container 
    h-full
    w-full 
    opacity-10;
  }

  .gizmo {
    @apply dark:bg-dark-gray-700 
    bg-light-gray-300 
    absolute 
    left-1/2 
    z-10  
    h-[1.25rem] 
    w-[0.3125rem]
    -translate-x-1/2
    -translate-y-1/2
    transform
    rounded-full;

    transition:
      top 1000ms,
      background-color 300ms;
  }
}
