@layer base {
  body {
    @apply font-lexend 
      dark:bg-dark-gray-900 
      dark:text-medium-gray-50 
      text-pale-gray-500   
      bg-white 
      text-[0.9375rem]
      motion-safe:scroll-smooth
      sm:text-base;
  }

  p,
  li {
    @apply leading-paragraph;
  }
}
